<div id="addBookmark">
	<i class="glyphicon glyphicon-plus"></i>
</div>

<div id="results"></div>

<% @bookmarks.each do |bm| %>
  <%= render 'shared/bookmark', bm: bm %>
<% end %>

<div id="basic" class="draggie">
		<div class="total-centered">Drag me</div>
</div>

<%= render 'shared/form' %>
	
	
	
	
<script>
	
</script>	